<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiesel.soccer.mapper.SoccerMapper">


   <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        code,        type,        home_team,        guest_team,        prediction,        user_name,        result,        gmt_create,        gmt_modified,        home_score,        guest_score,        diff_score,        total_score,        id    </sql>

</mapper>
