<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div id=toolbar>

						<form id="queryForm" class="form-group fl ">
							<input type="hidden" id="soccer_startDate" name="startDate" value=""/>	
							<div class="fl">
								<div id="soccerShowStartDate" class="input-group date w250 "
									data-date-format="yyyy-mm-dd" data-link-field="soccer_startDate"
									data-link-format="yyyy-mm-dd">
									<span class="input-group-addon">
	                                                                                                 创建日期
	                                </span>                                                                 
									<input class="form-control " size="16" readonly>
								   <span class="input-group-addon"> 
									    <span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>	
							<div class="fl ml5">
								<div class="input-group w250">
									<span class="input-group-addon">推荐人</span> <input
										class="form-control" name="userName" placeholder="请输入推荐人查询">
								</div>
							</div>
						</form>
						<div class="columns pull-left ml10">
							<button class="btn btn-success fl ml5"  onclick="query()">查询</button>
							
							<button shiro:hasPermission="soccer:soccer:add" type="button"
								class="btn btn-primary fl ml5" onclick="add()">
								<!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
								添加
							</button>
							<button shiro:hasPermission="soccer:soccer:batchDelete" type="button"
								class="btn btn-danger fl ml5" onclick="batchDelete()">
								<!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
								删除
							</button>
						</div>

					</div>
					<table id="table"
						class="bootstrap-table table table-bordered table-hover "
						data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<script th:inline="javascript">
		  var s_add_h    =  [[${@permService.hasPermi('soccer:soccer:add')}]];
		  var s_edit_h   =  [[${@permService.hasPermi('soccer:soccer:edit')}]];
		  var s_delete_h =  [[${@permService.hasPermi('soccer:soccer:delete')}]];
    </script>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/app/soccer/soccer/soccer.js">
		
	</script>
</body>

</html>