<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div id=toolbar role="group">
						<form id="queryForm" class="form-group fl ">
							<div class="input-group w200 ">
								<span class="input-group-addon"> 表名</span> <input
									name="tableName" class="form-control" placeholder="">
							</div>
						</form>
						<div class="columns pull-left ml10">
							<button class="btn btn-success" onclick="query()">查询</button>
						</div>
					</div>
					<table id="table"
						class="bootstrap-table table table-bordered table-hover "
						data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>

	</div>
	<div th:include="include::footer"></div>

	<script type="text/javascript">
		var prefix = "/generator";
		$(function() {
			load();
		});

		function query() {
			$('#table').bootstrapTable('refresh');
		}
		
		function load() {
			app.table('#table', {
				url : prefix + "/list", // 服务器数据的加载地址
				dataType : "json", // 服务器返回的数据类型
				toolbar : '#toolbar',
				queryParamsType : 'limit' ,
				method : 'get',
				columns : [ { // 列配置项
					// 数据类型，详细参数配置参见文档http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/
					checkbox : true
				// 列表中显示复选框
				}, {
					title : '序号',// 列标题
					formatter : function(value, row, index) {
						return index + 1;
					}

				}, {
					field : 'tableName', // 列字段名
					title : '表名', // 列标题
				}, {
					field : 'engine',
					title : 'Engine'
				}, {
					field : 'tableComment',
					title : '表备注'
				}, {
					field : 'createTime',
					title : '创建时间'
				}, {
					title : '操作',
					align : 'center',
					formatter : function(value, row, index) {

					}
				} ],
				params : function() {
					return $("#queryForm").serializeObject();
				}
			});
		}
	</script>
</body>

</html>