<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="include :: header"></head>
<div th:replace="include :: zTree_css"></div> 

<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-2">
				<div class="ibox ibox-body">
					<div class="box-header">
						<div class="ibox-title"><h3>组织机构</h3></div>
					</div>
					<div class="ibox-content">
						<div id="deptTree" class="ztree"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-body">
						<div id="toolbar">
							<form id="queryForm" class="form-group fl ">
								<div class="input-group w200 ">
									 <span class="input-group-addon"> 用户名</span>
									 <input name="username" class="form-control" placeholder="">
								</div>
								<input type="hidden" id="deptId" name="deptId"> <input
									type="hidden" id="parentId" name="parentId">
							</form>
							<div class="columns pull-left ml10">
						    	<button class="btn btn-success" onclick="query()">查询</button>
								<button shiro:hasPermission="sys:user:add" type="button"
									class="btn  btn-primary" onclick="add()">
									<!-- <i class="fa fa-plus hidden" aria-hidden="true"></i> -->添加
								</button>
								<button shiro:hasPermission="sys:user:batchDelete" type="button"
									class="btn  btn-danger" onclick="batchDelete()">
									<!-- <i class="fa fa-trash hidden" aria-hidden="true"></i> -->删除
								</button>
							</div>
						</div>
						<table id="table"  class="bootstrap-table table table-bordered table-hover "
							data-mobile-responsive="true">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script th:inline="javascript">
		  var s_edit_h    =  [[${@permService.hasPermi('sys:user:edit')}]];
		  var s_delete_h   =  [[${@permService.hasPermi('sys:user:delete')}]];
		  var s_resetPwd_h =  [[${@permService.hasPermi('sys:user:resetPwd')}]];
    </script>
	<div th:include="include :: footer"></div>
    <div th:replace="include :: zTree_js"></div> 
	<script type="text/javascript" src="/js/app/system/user/user.js"></script>
</body>
</html>